/* Copy buttons */
button.copybtn {
    webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    background-color: #2980b9;
    opacity: 0;
    padding: 2px 6px;
    position: absolute;
    right: 4px;
    top: 4px;
  }
  div.highlight:hover .copybtn, div.highlight .copybtn:focus {
      opacity: .3;
      background-color: #2980b9;
  }
  div.highlight .copybtn:hover {
      background-color: #2980b9;
      opacity: 1;
  }
  div.highlight {
      position: relative;
  }
